* {
    margin: 0;
    padding: 0;
  }
  
  


  header {
    display: flex;
    justify-content: space-between; /*for resposive center */
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 102, 255, 0.233);
    padding: 20px;
  }

  .pic-style {
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  
  }

  .navmenu {
    list-style: none;
    display: flex;
    font-family: arial;
  }

  /* .nav-links{
    
} */

.navmenu > li > a {
    margin: 0 10px;
    color: blue;
    font-weight: 600;
    text-decoration: none;
  }
  
  .navmenu > li > a:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 680px) {
    header {
      justify-content: center;
    }
    header h1 {
      width: 100%;
      margin: 20px;
      text-align: center;
    }
  }
  
  img {
    height: 60vh;
   
  }
  
  table img {
    width: 100px;
    height: 100px;
 
  }
  i {
    cursor: pointer;
  }
  